streamlit
plotly
pandas
numpy==1.26.4
opencv-python-headless==4.10.0.84
av
streamlit-webrtc
torch
python-dotenv
keras
SpeechRecognition
matplotlib
scikit-learn
statsmodels
xgboost
requests
mediapipe==0.10.14
